@import "./components/OpenLibrary/openlibrarycss/openlibrarysearch.css";
@import "./components/OpenLibrary/openlibrarycss/openlibrarybook.css";
@import "./components/Nav/navbar.css";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Libre+Baskerville&family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap");
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  font-family: "Libre Baskerville", serif !important;
  font-family: "Roboto", sans-serif !important;
  color: #555 !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

h2,
h3 {
  margin: 1.5rem 0 !important;
}

nav {
  margin-bottom: 1rem;
}

.btn {
}

.form-btn-below {
  margin: 0.5rem 0;
  background-color: #336699 !important;
}
.form-btn-side {
  margin: 0 0.5rem;
  background-color: #336699 !important;
}

.form-group {
  padding: "1rem";
}

.submit-btn {
  background-color: #336699 !important;
}
